*{box-sizing: border-box;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
}

header, footer{
  background-color: #e6e7e8;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer{
  color: #3f3f3f;
  height: 2rem;
}

header img#logo{
  width: 5rem;
  height: 4.35rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bree Serif', serif;
  color: #00acdd;
}

header h1{
  color: #004166;
  font-weight: bold;
}

header h1 span#subject{
  color: #96bc33;
}

a{
  text-decoration: none;
  cursor:pointer;
}

a:link{
  color: #00acdd;
}

a:visited{
  color: #ea2126;
}

a:hover{
  cursor: pointer;
  color: #f58a1e;
}

nav ul li{
  list-style-type: none;
}
nav ul{
	padding-left: 0;
}

nav#main-menu{
  background-color: #004166;
  font-weight: bold;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
  align-content: center;
  text-align: center;
}

#main-menu > input {
  display: none;
  
}

nav#main-menu > label > span {
  color:white;
  cursor: pointer;
  font-size: 1.5rem;
}

div#content>nav#main-menu> ul{
  display: none;
}


div#content>nav#main-menu> ul > li{
  align-items:center;
}

div#content>nav#main-menu>input:checked + ul{
  display: block;
  margin-top: 0;
}


main section#principal{
  border: 2px solid #004166;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

main > section#principal > h2{
  margin: 0 auto;
  padding: 1rem;
  flex-basis: 100%
}

main section article.news-art{
  border: 5px solid #e6e7e8;
  border-radius: 0.8rem;
}
div#content main section#principal article#primerElemento{
  background-color: #e6e7e8;
  border-color: #f58a1e;
}

div#content main section article.news-art img{
  width: 20rem;
  height: auto;
  max-width: 20rem;;
}

div#content main section article.news-art p{
  padding: 0 1rem;
  text-align: left;
}

div#content{
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  section#principal > article {
    display: flex;
    flex-flow: row wrap;
  }

  article > h3 {
    flex: 100%
  }

  article > img, article > p {
    flex: 45%
  }
}
article > h3 {
  flex: 100%
}

@media (min-width: 600px) {
  header {
    justify-content: flex-start;
  }

  section#principal > article {
    display: flex;
    flex-flow: row wrap;
  }


  article > img, article > p {
    flex: 45%
  }
}

@media (min-width: 1024px) {  
  div#content main section article.news-art img{
    width: 16rem;
    max-width: 16rem;
  }

  section#principal > article#primerElemento {
    flex-basis: 100%;
  }

  section#principal> article.news-art {
    flex-basis: 50%;
  }

  nav#main-menu > label{
    display: none;
  }

  div#content>nav#main-menu> ul{
    display: flex;
    justify-content: space-evenly;
  }

}
